/* Opening scene */


@keyframes saturationUltra {
    from{ 
        filter: saturate(100%); 
        
    }

    to{
        filter: saturate(400%);
    }
}
#opening-scene {
    overflow: hidden;
    display: none;
    position: absolute;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    animation-name: saturationUltra;
    animation-duration: 10s;
}


/* @keyframes darkOverlay {
    30% {}
    100% {box-shadow: inset 0px 0px 200px 500px rgba(0, 0, 0, 0.9);}
} */
#opening-scene-dark-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    box-shadow: inset 0px 0px 50px 100px rgba(0, 0, 0, 0.814);
    animation-name: darkOverlay;
    animation-duration: 15s;
}

#red-cover {
    position: absolute;
    z-index: 1000;
    background-color: red;
    opacity: 0;
    width: 100%;
    height: 100%;
    animation-name: redOverlay;
    animation-duration: 20s;
}

#your-fault-container {
    z-index: 100;
    position: absolute;
}

#your-fault-container p {
    margin: 0;
    color: white;
    font-size: 7.5vw;
    white-space: nowrap;
    overflow: hidden;
}


@keyframes your-fault-left-animation {
    0% {transform: translateX(0%);}
    100% {transform: translateX(80%);}
}
.your-fault-left {
    animation-name: your-fault-left-animation;
    animation-duration: 40s;
}

@keyframes your-fault-right-animation {
    0% {transform: translateX(0%);}
    100% {transform: translateX(-80%);}
}
.your-fault-right {
    animation-name: your-fault-right-animation;
    animation-duration: 40s;
}


@keyframes johns-freind-img {
 
}
#johns-friend-img {
    overflow: hidden;
    position: absolute;
    width: 35vw;
    height: 35vw;
    top: 17.5vh;
    left: 15vw;
    z-index: 101;
    display: none;
    animation-name: johns-freind-img;
    animation-duration: 10s;
}


@keyframes johns-freind2-img {
}
#johns-friend2-img {
    position: absolute;
    width: 27vw;
    height: 30vw;
    top: 12.5vh;
    right: 15vw;
    z-index: 102;
    display: none;
    animation-name: johns-freind2-img;
    animation-duration: 10s;
    transition: 0s;
}

#no-container {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 103;
    top: 0vh;
    display: none;
}

#no-container p{
    color: white;
    font-size: 20vw;
    font-family: roboto;
    position: fixed;
    text-shadow: 0 0 20px black;
    margin: 0;
}

#white-flash {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.896);
    opacity: 0;
    transition: 1s;
}