
@font-face {
    font-family: cinzel;
    src: url(Fonts/Cinzel-VariableFont_wght.ttf);
}

/*#region before Game*/
body {
    margin: auto;
    background-color: black;
}

#start {
    margin-top: 40vh;
    height: 5vh;
    width: 5vw;
    display: block;
    border: solid black 2px;
    justify-self: center;
    align-self: center;
}

#game {
  display: none;
}

#game:fullscreen {
    
    margin-top: auto;
    display: block;
    width: 100vw;
    height: 100vh;
}

/*#endregion */


/* Main room */
.johnsRoom {
    width: 100vw;
    height: 100vh;
}

.rooms {
    z-index: 1;
    top: 0vh;
    transition: 3s;
    opacity: 0%;
}

#room-number {
    position: absolute;
    display: none;
    opacity: 0;
    transition: 1s;
    color: red;
    justify-self: center;
    align-self: center;
    top: 15vw;
    font-size: 20vw;
    z-index: 1000;
    font-family: cinzel;
}

.gateways {
    z-index: 100;
    background-color: rgba(0, 0, 0, 1);
    position: absolute;
    border-radius: 0.2vw;
    bottom: 8.5vw;
    left: 41vw;
    width: 18.5vw;
    height: 37.6vw;
    opacity: 1;
}

/*#region Starting Room*/

#starting-room {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    justify-content: center;
    align-items: center;
    
    display: flex;
 
    z-index: 10;
    position: absolute;
}

#begin-btn {
    width: 10vw;
    height: 8vh;
}

.starting-room-navbar {
    display: flex;
    width: 100%;
    height: 9vh;
    top: 0vh;
    position: fixed;
}

.starting-room-navbar * {
    padding: 10px 10px 10px 10px;
}

#menu-icon {
    width: 3.8vw;
    transition: 0.3s;
    z-index: 10;
}

#menu-icon:hover {
    transform: scale(1.04);
    background-color: rgba(128, 128, 128, 0.145);
    border-radius: 1vw;
    padding: 1vh 1vh 1vh 1vh;
}

#menu-icon:active {
    background-color: rgba(128, 128, 128, 0.392);  
    transition: 0.1s; 
}

#door-container {
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: center;
    transition: 0.5s;
    z-index: 1;
}

#door-container img:hover {
    transform: scale(1.13);
    transition: 0.2s;
}

.door-icon-show a {
    transform: translateX(0%);
    transition: inherit;
    opacity: 1;
    padding: 5px 5px 5px 5px;
}

.door-icon-hidden a {
    transition: 0.3s;
    transform: translateX(-100%);
    opacity: 0;
}

.door-icon-show img {
    width: 3.5vw;
}

.door-icon-hidden img {
    width: 3.5vw;
}

#door-container a {
    text-decoration: none;
}

.room-hyperlinks {
    font-size: 1vw;
    color: red;
    position: absolute;
    padding-left: 8px;
    font-family: cinzel;
}

#room10-hyperlink {
    padding-left: 3px;
}


/*#endregion*/

